  .radius{
    border-radius: 20px;
  }
  
  .footer-content {
    padding: 50px 25px 25px 20px;
  }

  .footer-bg{
    background-color: #eef2f6;
  }

  .footer-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer-section {
    width: 22%;
  }

  .footer-section h3 {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .footer-section li {
    list-style: none;
  }

  .copyright-section li a:hover {
    color: var(--primary-color);
  }
  
  .copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .copyright-section{
    display: flex;
    justify-content: right;
    gap: 10px
  }
  
  @media screen and (max-width: 1000px) {
    .footer-section {
      width: 45%;
    }
  }

  @media screen and (max-width: 479px) {
    .footer-section {
      width: 100%;
    }
  }